<div class="col-md-4">
    <div class="card text-white bg-secondary mb-3">
        <h2 class="card-header text-center">Lugar</h2>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg mt-4" for="inputLarge">Lugar</label>
                    <input class="form-control" type="text" name="name"  placeholder="Ingresar el lugar" [(ngModel)]="lugar.Lugar" />
                </div>
                <div class="form-group">
                    <br>
                    <button class="btn btn-outline-success btn-sm" (click)="edit? update(): saveNewLugar()" routerLink="/lugares">Guardar</button> |
                    <a class="btn btn-outline-danger btn-sm" routerLink="/lugares" routerLinkActive="Active">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
