<br>

<h2 class="text-center">Autores</h2>

<p><a class="btn btn-outline-primary btn-sm" routerLink="/PremiosAutores/add" routerLinkActive="Active">Asignar premio</a></p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Premio</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-light" *ngFor="let premioAutor of premiosAutores">
        <tr>
            <td>{{premioAutor.Nombre}} </td>
            <td>{{premioAutor.Apellido_Paterno}}</td>
            <td>{{premioAutor.Apellido_Materno}}</td>
            <td>{{premioAutor.Premio}}</td>

            <td>
                <button class="btn btn-outline-danger btn-sm" (click)="delete(premioAutor.Id_Premio_Autor)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>