<br>

<h2 class="text-center">Lugares</h2>

<p><a class="btn btn-outline-primary btn-sm" routerLink="/lugares/add" routerLinkActive="Active">Nuevo lugar</a></p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Lugar de entrega</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-light" *ngFor = "let lugar of lugares">
        <tr>
            <td>{{lugar.Lugar}}</td>
            <td>
                <a class="btn btn-outline-primary btn-sm" [routerLink]="['/lugares/edit',lugar.Id_Lugar]">Editar</a> |
                <button class="btn btn-outline-danger btn-sm" (click)="delete(lugar.Id_Lugar)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>